[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
WorkingDirectory=/home/arboratorgrew/arborator-parser
Environment="PATH=/home/arboratorgrew/miniconda3/envs/parser-venv/bin/uwsgi"
ExecStart=/home/arboratorgrew/miniconda3/envs/parser-venv/bin/uwsgi --ini arborator-parser.ini
Restart=always
RestartSec=5
StartLimitBurst=3

[Install]
WantedBy=multi-user.target