[Unit]
Description=Run Check Server Health every 10 minutes

[Timer]
OnCalendar=*:0/10
# for every minutes : =*:*
Unit=check_server.service

[Install]
WantedBy=default.target
